all:
  children:
    localhost:
      hosts:
        127.0.0.1:
      vars:
        ansible_connection: local
        ansible_python_interpreter: "/usr/bin/env python"
    nodes:
      children:
        operator:
          hosts:
            operator.{{ domain }}:
        workers:
          hosts:
            w1.{{ domain }}:
            w2.{{ domain }}:
            w3.{{ domain }}:
          vars:
            ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o ProxyCommand="ssh -A {{ ssh_user }}@operator.{{ domain }} -W %h:%p"'
        masters:
          hosts:
            m1.{{ domain }}:
            m2.{{ domain }}:
            m3.{{ domain }}:
          vars:
            ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o ProxyCommand="ssh -A {{ ssh_user }}@operator.{{ domain }} -W %h:%p"'
  vars:
    ansible_ssh_private_key: {{ private_key_file_path }}
    ansible_ssh_user: {{ ssh_user }}