aws_region: us-east-1
cidr_block: 10.240.0.0/16
domain: '{{ domain }}'
key_name: '{{ key_name }}'
project_name: '{{ project_name }}'
oracle_linux_ami: ami-00cf6ad74f988f94b
hosted_zone_id: '{{ hosted_zone_id }}'